.bestTeam {
  width: 100%;
  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .left {
      width: calc(30% - 4rem);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @media (max-width: 1024px) {
        align-items: self-center;
      }
    }

    .TeamlistCards {
      position: relative;
      width: 70%;
    }

    @media (max-width: 1024px) {
      margin-bottom: 1rem;
      flex-direction: column;
      .left,
      .TeamlistCards {
        width: 100%;
      }
    }

    @media (max-width: 500px) {
      gap: 2.5rem;
      hr {
        display: none;
      }
    }
  }
}
