.projeList {
  .projeDuzenle {
    .formCreate {
      display: flex;
      gap: 2rem;
    }

    .leftCreate {
      width: 30%;

      .avatar {
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 250px;
        border-radius: 15px;

        .kapsayiciButton {
          border-radius: 15px;
          padding: 10px;
          display: inline-block;
          padding: 10px;
          color: "#fff";
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;

          .kapakImgg {
            border-radius: 15px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }

          .Text {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
          }

          &:hover {
            background-color: rgb(0, 0, 0, 0.03);

            .kapakImgg {
              opacity: 0.5;
            }
          }
        }
      }
    }

    .rightCreate {
      width: calc(70% - 2rem);
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .avatarResimler {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        min-height: 250px;
        height: auto;
        border-radius: 15px;

        .kapsayiciButton {
          z-index: 6;
          border-radius: 15px;
          padding: 10px;
          padding-bottom: 40px;
          display: inline-block;
          padding: 10px;
          color: "#fff";
          border-radius: 5px;
          height: 100%;
          width: 100%;
          cursor: pointer;

          .images-preview-container {
            z-index: 7;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding-bottom: 160px;

            .image-container {
              z-index: 7;
              position: relative;
              width: 120px;
              height: 120px;
              border: 1px solid #ddd;
              border-radius: 10px;
              overflow: hidden;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              cursor: grab;

              img {
                z-index: 7;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              &:active {
                cursor: grabbing;
              }

              .remove-button {
                z-index: 8;
                position: absolute;
                top: 5px;
                right: 5px;
                background: rgba(255, 0, 0, 0.8);
                color: white;
                border: none;
                border-radius: 50%;
                font-size: 12px;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                opacity: 0;
                transition: opacity 0.2s ease;
                padding: 15px;
              }

              &:hover {
                .remove-button {
                  opacity: 1;
                }
              }
            }
          }

          .Text {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
          }

          &:hover {
            background-color: rgb(0, 0, 0, 0.03);

            .kapakImgg {
              opacity: 0.5;
            }
          }
        }
      }

      .bottomText {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        label {
          min-height: 40px;
          font-size: 14px;
          font-weight: bold;
          color: #555;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;
        }

        input[type="text"],
        select {
          width: 70%;
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          outline: none;
          transition: border-color 0.2s ease;
        }

        input[type="text"]:focus {
          border-color: #0056b3;
        }

        .buttonContainer {
          width: 30%;
          align-self: flex-end;
          button {
            background-color: #104b73;
            color: #fff;
            padding: 12px;
            font-size: 16px;
            font-weight: bold;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            width: 100%;

            &:hover {
              background-color: #004494;
            }
          }
        }

        textarea {
          width: 70%;
          height: 100px; /* Yükseklik sabit */
          padding: 10px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: none; /* Yeniden boyutlandırmayı devre dışı bırak */
          box-sizing: border-box;
          outline: none;
          transition: border-color 0.2s ease;

          &:focus {
            border-color: #0056b3;
          }
        }
      }
    }

    /* Küçük ekranlar için düzenleme */
    @media (max-width: 768px) {
      div {
        padding: 15px;
      }

      h2 {
        font-size: 20px;
      }

      button {
        font-size: 14px;
      }
    }
  }
}
