.projeDetay {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  .projectName {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden; /* Resmi kırpması için */

    img {
      width: 100%;
      height: 100%; /* Yüksekliği orantılı ayarlamak için */
      position: absolute;
      top: 50%; /* Ortalamak için */
      left: 50%;
      transform: translate(-50%, -50%); /* Tam ortasını hizalamak için */
      object-fit: cover; /* Resmin taşmasını önler ve kırpma yapar */
    }

    .bannerText {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      z-index: 3;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      align-items: center;

      .location {
        display: inline-block;
        max-width: max-content; /* İçerik boyutuna tam oturur */
        box-sizing: border-box;
        background-color: whitesmoke;
        color: black;
        padding: 12px;
        font-size: 0.7rem;
        border-radius: 8px;

        h3 {
          font-style: italic;
        }

        span {
          color: orange;
        }
      }
      .title {
        h1 {
          color: whitesmoke;
          font-size: 2.5rem;
        }
      }
    }

    .background {
      z-index: 2;
      position: absolute;
      top: 0;
      height: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.6;
    }
  }

  .tabletNamee {
    // display: none;
    margin-bottom: 4rem;
  }

  .mainTop {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .mainSectionSide {
      display: flex;
      gap: 3rem;
      .product-gallery {
        width: 55%;
        display: flex;
        flex-direction: column;
        .single-img {
          img {
            width: 100%;
            height: 370px;
          }
        }
        .product-thump {
          margin-top: 0.5rem;
          height: 79px;

          img {
            border: 1px solid transparent;
          }
        }
      }

      .rightActionSide {
        width: calc(45% - 3rem);
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        .buttons {
          margin-top: 2rem;
          display: flex;
          gap: 1rem;
          align-items: center;

          .btnSepet {
            padding: 13px 15px 13px 15px;
            border-radius: 10px;
            background-color: rgb(17, 28, 69);
            color: white;
            font-size: 0.9rem;
            &:hover {
              opacity: 0.8;
            }
          }

          .disabled {
            background-color: rgb(127, 125, 125);
          }
        }
      }
    }

    .projectDetay {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .desc {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        p {
          word-break: break-word; /* Uzun kelimeleri kır */
        }
      }
    }
  }

  .barr {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    p {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 0;
    }
  }

  .popupUrunDetay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;

    .popup-inner {
      height: auto;
      width: 40%;
      background: white;
      padding: 25px;
      padding-top: 50px;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      .IBAN {
        h4 {
          margin-bottom: 1rem;
        }
        p {
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          font-size: 0.9rem;
          font-weight: normal;
          line-height: 1.5;
          letter-spacing: 0;
        }
      }

      .avatar {
        position: relative;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 250px;
        border-radius: 15px;

        .kapsayiciButton {
          border-radius: 15px;
          padding: 10px;
          display: inline-block;
          padding: 10px;
          color: "#fff";
          border-radius: 5px;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          cursor: pointer;

          .kapakImgg {
            border-radius: 15px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }

          .Text {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.7rem;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 0.9rem;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: 0;
          }

          &:hover {
            background-color: rgb(0, 0, 0, 0.03);

            .kapakImgg {
              opacity: 0.5;
            }
          }
        }
      }

      .popup-buttons {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        .cancel {
          background: gray;
          color: white;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
        }

        .confirm {
          background-color: black;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          border-radius: 5px;
          color: white;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    gap: 4rem;
    .tabletNamee {
      display: block;
      margin-bottom: 4rem;
    }
    .mainTop {
      .mainSectionSide {
        flex-direction: column;

        .single-img {
          height: 450px;
          img {
            height: 100% !important;
          }
        }

        .product-gallery {
          width: 100%;
          gap: 1rem;

          .product-thump {
            height: 100px;
          }
        }

        .rightActionSide {
          width: 100%;
        }
      }
    }

    .popupUrunDetay {
      .popup-inner {
        width: 70%;
      }
    }
  }

  @media (max-width: 768px) {
    margin-top: 110px;

    .projectName {
      height: 250px;
      .bannerText {
        .location {
          h3 {
            font-size: 0.75rem;
          }
          span {
            font-size: 0.65rem;
          }
        }
        .title {
          h1 {
            font-size: 1.8rem;
          }
        }
      }
    }

    .mainTop {
      .mainSectionSide {
        .product-gallery {
          .single-img {
            display: none;
          }

          .product-thump {
            height: 380px;

            img {
              border: 1px solid transparent;
            }
          }
        }

        .rightActionSide {
          .buttons {
            .btnSepet {
              font-size: 0.85rem;
            }
          }
        }
      }
    }

    .popupUrunDetay {
      .popup-inner {
        width: 90%;

        .IBAN {
          p {
            font-size: 0.85rem;
          }
        }

        .avatar {
          .kapsayiciButton {
            .Text {
              font-size: 0.85rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    gap: 2rem;
    .projectName {
      height: 200px;
      .bannerText {
        .location {
          h3 {
            font-size: 0.75rem;
          }
          span {
            font-size: 0.65rem;
          }
        }
        .title {
          h1 {
            font-size: 1.5rem;
          }
        }
      }
    }
    .tabletNamee {
      margin-bottom: 2rem;
      h2 {
        font-size: 1.2rem;
      }
    }

    .mainTop {
      .mainSectionSide {
        .product-gallery {
          .product-thump {
            height: 230px;
          }
        }
      }

      .projectDetay {
        margin-bottom: 1.5rem;
      }
    }
  }
}
