.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: 4rem;

  li {
    width: 30px;
    height: 30px;
    margin: 5px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    transition: 0.3s;
    a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      border-radius: 50%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  .activePage a {
    background: $primary-color !important;
    color: white !important;
    font-weight: bold;
  }

  .prevButton,
  .nextButton {
    display: none;
    a {
      background: $primary-color !important;
      color: white !important;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    li {
      width: 25px;
      height: 25px;
      margin: 3px;
      font-size: 0.8rem;

      &:hover {
        opacity: 1;
      }
    }
  }
}
